<header class="header">
  <div class="logo">CRIALT</div>
  <nav class="main-nav" *ngIf="!isMobile">
    <ul class="nav-menu">
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.route" class="nav-link">
          <span class="material-icons nav-icon">{{ item.icon }}</span>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="header-actions">
    <div class="notifications">
      <span class="material-icons">notifications</span>
      <span class="notification-badge" *ngIf="notificationsCount > 0">{{ notificationsCount }}</span>
    </div>
    <div class="profile-menu" *ngIf="(user$ | async) as user">
      <img [src]="user.avatar || '/assets/images/avatar-default.png'" alt="Avatar" class="avatar" />
      <span class="profile-name" *ngIf="!isMobile">{{ user.name }}</span>
      <button class="logout-btn" (click)="onLogout()" title="Sair">
        <span class="material-icons">logout</span>
      </button>
    </div>
  </div>
</header>
