<aside class="sidebar" [class.collapsed]="isCollapsed" [class.mobile-footer]="isMobile">
  <nav class="sidebar-nav">
    <div class="sidebar-header" *ngIf="!isMobile">
      <button class="collapse-btn" (click)="toggleCollapse()" title="Expandir/recolher menu">
        <span class="material-icons">{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</span>
      </button>
      <span class="sidebar-title" *ngIf="!isCollapsed">MENU</span>
    </div>
    <ul class="sidebar-menu" [class.mobile-menu]="isMobile">
      <li *ngFor="let item of menuItems" [class.favorite]="item.favorite">
        <a [routerLink]="item.route" class="menu-link">
          <span class="material-icons menu-icon">{{ item.icon }}</span>
          <span class="menu-label" *ngIf="!isCollapsed && !isMobile">{{ item.label }}</span>
          <span class="notification-badge" *ngIf="item.notificationCount && !isCollapsed && !isMobile">{{ item.notificationCount }}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
